

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
:root{

    /* fonts */
    --title-font: 'Poppins', sans-serif;
    --body-font: 'STIX Two Math', serif;

    --big: 2rem;
    --header: 1.5rem;
    --normal: 1rem;
    --small: .5rem; 

    /* colors */
    --darkg: #105126;
    --lightg: #86ad84;
    --cream: #f2f2ed;
    --beige: #e6dec3;
    --brown: #807261;

}


/* base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal);
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

/* buttons */



/* media queries */