@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");
:root {
  /* fonts */
  --title-font: "Poppins", sans-serif;
  --body-font: "STIX Two Math", serif;

  --big: 2rem;
  --header: 1.5rem;
  --normal: 1rem;
  --small: 0.5rem;

  /* colors */
  --darkg: #105126;
  --lightg: #86ad84;
  --cream: #f2f2ed;
  --beige: #e6dec3;
  --brown: #807261;
}

/* base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal);
  background-color: var(--beige);
}

html {
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  color: var(--brown);
  font-family: var(--title-font);
  text-align: center;
  margin-top: 300px;
}
h1 {
  font-size: var(--big);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 16em;
  margin-top: 10px;
}

/* buttons */
a {
  text-decoration: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
i {
  font-size: 24px;
}
.btn {
  background-color: var(--lightg);
  border: none;
  border-radius: 10px;
  height: 3rem;
  width: 3rem;
  color: white;
  cursor: pointer;
  padding: 10px;
}

/* media queries */
